# Ignore everything except what we need
*
!requirements.txt
!Procfile
!runtime.txt
!main.py
!static/
!static/*
!static/css/
!static/js/
!static/css/styles.css
!static/js/*.js
!static/js/lot_codes.json

# Allow public directory and its contents
!public/
!public/*
!public/css/
!public/js/
!public/css/*
!public/js/*
!public/*.html
